.section_topseries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

@media (max-width: 768px) {
  .section_topseries {
    justify-content: center;
  }
}