/* TOP RATED MOVIES STYLES */
.section_topmovie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .section_topmovie {
    justify-content: center;
  }
}